.thumbnail-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .thumbnail-display {
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .thumbnail-display {
    justify-content: center;
  }
}
